<div class="row">
  <% @links.each do |link| %>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <%= link_to image_tag(link.url, :class => 'img-responsive'), link, class: "thumbnail"%>

      <div class="btn-group" style="padding-bottom: 10px;  padding-left: 10px;">
        <%= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
          <span class="glyphicon glyphicon-chevron-up"></span>
          Upvote
          <%= link.get_upvotes.size %>
        <% end %>
        <%= link_to dislike_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
          <span class="glyphicon glyphicon-chevron-down"></span>
          Downvote
          <%= link.get_downvotes.size %>
        <% end %>
      </div>

    </div>
  <% end %>
</div>